<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title> Authentication and Authorization </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="/your-path-to-your-compiled-css-including-fontawesome/file.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- Frontpage -->
  <section id="frontpage">
    <div class="navbar">
      <nav>
        <div class="Home">
          <a href="/home">Home</a>
        </div>
        <% if (jwt === undefined ) { %>
        <ul class="homeul">       
          <li class="homeli">
            <a href="/login" class="hover_link">Login</a>
          </li>
          <li class="homeli">
            <a href="/register" class="hover_link">Register</a>
          </li>
        </ul>
        <% } else { %>
          <ul class="homeul">       
            <li class="homeli">
              <a href="/logout" class="hover_link">Logout</a>
            </li>
          </ul>
          <% } %>

      </nav>
    </div>

    <div class="frontpagetext">
      <h1>Welcome</h1>
    </div>
  </section>
</body>
</html>