<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login&register.css">
</head>

<body>
    <div class="container">
        <form action="/login" class="form-horizontal" id="validateForm">
            <h1>Login Form</h1>
            <fieldset>
                <!-- Email input-->
                <div class="form-group">
                    <label class="col-md-12 control-label">
                        Email
                    </label>
                    <div class="col-md-12">
                        <input id="email" name="email" type="text" placeholder="Enter your email address"
                            class="form-control input-md" value="<%= typeof email != 'undefined' ? email : '' %>">
                        <% if (errors.email !=="" ) { %>
                            <span style="color:red">
                                <%= errors.email %>
                            </span>
                            <% } %>
                    </div>

                </div>
                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-12 control-label" for="passwordinput"> Password </label>
                    <div class="col-md-12">
                        <input id="password" class="form-control input-md" name="password" type="password"
                            placeholder="Enter your password"
                            value="<%= typeof password != 'undefined' ? password : '' %>">
                        <% if (errors.password !=="" ) { %>
                            <span style="color:red">
                                <%= errors.password %>
                            </span>
                            <% } %>
                    </div>

                </div>
                <!-- Button -->
                <div class="form-group">
                    <input type="submit" class="btn login-btn btn-block" value="Submit" />
                </div>
                <div class="ex-account text-center">
                    <p>Create Your Account? Click
                        <a href="/register">here</a>
                    </p>
                </div>
            </fieldset>
        </form>
    </div>
    <script>
        const form = document.querySelector('#validateForm');
        form.addEventListener('submit', async (e) => {
          e.preventDefault();
          const email = form.email.value;
          const password = form.password.value;
          try {
            const res = await fetch('/login', { 
              method: 'POST', 
              body: JSON.stringify({ email, password }),
              headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data.msg === "Login Successful")
            if (data.msg === "Login Successful") {
              location.assign('/');
            }
          }
          catch (err) {
            console.log(err);
          }
        });
      </script>
</body>